@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@media screen and (max-width: 768px) { .pcelement { display: none !important; } }

@media screen and (min-width: 769px) { .spelement { display: none !important; } }

/*   header   */
.header { position: relative; background-image: url("../img/top_bg.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 100vh; }

.header:after { content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(29, 23, 36, 0.5); z-index: 1; }

.page-ttl { position: absolute; top: 50%; left: 50%; width: 100%; text-align: center; transform: translate(-50%, -50%); -webkit-transform: translateY(-50%) translateX(-50%); font-family: "Libre Baskerville", serif; font-size: 40px; color: #fff; z-index: 2; letter-spacing: 0.1em; }

@media screen and (max-width: 768px) { .page-ttl { font-size: 6.66667vw; } }

.page-ttl .txt-primary { color: #ccd269; }

/*   All   */
* { box-sizing: border-box; }

body { font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; }

@media screen and (max-width: 768px) { .main { overflow: hidden; } }

.main p, .main li { font-size: 16px; line-height: 1.8; color: #707070; letter-spacing: 0.01em; }

@media screen and (max-width: 768px) { .main p, .main li { font-size: 4.26667vw; } }

.main img { vertical-align: bottom; }

.block .inner { max-width: 960px; margin: 0 auto 0; padding: 100px 0; }

@media screen and (max-width: 768px) { .block .inner { max-width: initial; padding: 13.33333vw 5.33333vw 18.66667vw; } }

.block:nth-child(even) { background: #efefef; }

.block .block-ttl { text-align: center; font-size: 40px; color: #707070; font-family: "Lato", sansserif; letter-spacing: 0.1em; }

@media screen and (max-width: 768px) { .block .block-ttl { font-size: 8vw; } }

.block .block-ttl.-mg { margin-bottom: 60px; }

@media screen and (max-width: 768px) { .block .block-ttl.-mg { margin-bottom: 13.33333vw; } }

/*   About   */
.block.block01 .inner { max-width: 700px; }

@media screen and (max-width: 768px) { .block.block01 .inner { max-width: initial; } }

.profbox { display: flex; justify-content: space-between; align-items: flex-start; }

@media screen and (max-width: 768px) { .profbox { flex-direction: column; align-items: center; } }

.profbox.animate .profimg { position: relative; right: 60px; opacity: 0; transition: all 1s; }

.profbox.animate .profimg.moving { right: 0; opacity: 1; }

.profbox.animate .textarea { position: relative; left: 100px; opacity: 0; transition: all 2s; }

.profbox.animate .textarea.moving { left: 0; opacity: 1; }

.profbox .profimg img { border-radius: 50%; box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25); max-width: 150px; height: auto; }

.profbox .subttl { font-size: 20px; font-weight: bold; margin-bottom: 20px; color: #707070; }

@media screen and (max-width: 768px) { .profbox .subttl { font-size: 5.33333vw; margin-bottom: 2.66667vw; } }

.profbox .subttl:nth-child(n + 2) { margin: 30px 0 20px; }

@media screen and (max-width: 768px) { .profbox .subttl:nth-child(n + 2) { margin: 6.66667vw 0 2.66667vw; } }

.profbox .textarea { padding-left: 100px; }

@media screen and (max-width: 768px) { .profbox .textarea { padding-left: 0; padding: 8vw 0 0 0; } }

/*   Service   */
.block.block03 .inner { max-width: 980px; }

@media screen and (max-width: 768px) { .block.block03 .inner { max-width: initial; } }

.servicewrap__box { display: flex; justify-content: space-between; /* 参考 https://webkcampus.com/201907/1678/ */ }

@media screen and (max-width: 768px) { .servicewrap__box { flex-direction: column; } }

.servicewrap__box li { width: calc((100% / 3) - 20px); background: #fff; padding: 40px 20px 40px; border: 1px solid #e8e8e8; opacity: 0; position: relative; top: 120px; }

@media screen and (max-width: 768px) { .servicewrap__box li { width: 100%; padding: 10.66667vw 5.33333vw 8vw; margin-bottom: 10.66667vw; }
  .servicewrap__box li:last-of-type { margin-bottom: 0; } }

.servicewrap__box.animate li.moving { opacity: 1; top: 0; }

.servicewrap__box.animate li:first-of-type { transition: all 1s; }

.servicewrap__box.animate li:nth-child(2n) { transition: all 2s; }

@media screen and (max-width: 768px) { .servicewrap__box.animate li:nth-child(2n) { transition: all 1s; } }

.servicewrap__box.animate li:nth-child(3n) { transition: all 3s; }

@media screen and (max-width: 768px) { .servicewrap__box.animate li:nth-child(3n) { transition: all 1s; } }

.servicewrap__box .fwicon { font-size: 40px; display: block; color: #ccd269; text-align: center; padding-bottom: 10px; }

@media screen and (max-width: 768px) { .servicewrap__box .fwicon { font-size: 10.66667vw; } }

.servicewrap__box .servicettl { font-size: 20px; font-weight: bold; text-align: center; margin-bottom: 30px; position: relative; }

@media screen and (max-width: 768px) { .servicewrap__box .servicettl { font-size: 5.33333vw; margin-bottom: 8vw; } }

.servicewrap__box .servicettl:after { border-bottom: solid 2px #ccd269; content: ""; bottom: -10px; margin: 0 auto; width: 30px; position: absolute; transform: translateX(-50%); -webkit-transform: translateY(-50%) translateX(-50%); left: 50%; }

/*   Works   */
.worksbox { display: flex; flex-wrap: wrap; justify-content: space-between; }

@media screen and (max-width: 768px) { .worksbox { flex-direction: column; } }

.worksbox:after { content: ""; display: block; width: calc((100% / 3)); }

.worksbox.animate li { position: relative; display: inline-block; }

.worksbox.animate li.moving:before { width: 0; }

.worksbox.animate li:before { position: absolute; left: 0; width: 100%; height: 100%; content: ""; background-color: #ccd269; transition: all 0.5s; }

.worksbox.animate li.moving { opacity: 1; top: 0; }

.worksbox li { width: calc((100% / 3) - 20px); overflow: hidden; cursor: pointer; }

@media screen and (max-width: 768px) { .worksbox li { width: 100%; max-width: 300px; margin: 0 auto 10.66667vw; } }

@media screen and (max-width: 768px) { .worksbox li:last-of-type { margin-bottom: 0; } }

.worksbox li:nth-child(1), .worksbox li:nth-child(2), .worksbox li:nth-child(4) { margin-right: 20px; }

@media screen and (max-width: 768px) { .worksbox li:nth-child(1), .worksbox li:nth-child(2), .worksbox li:nth-child(4) { margin: 0 auto 10.66667vw; } }

.worksbox li:nth-child(-n + 3) { margin-bottom: 50px; }

@media screen and (max-width: 768px) { .worksbox li:nth-child(-n + 3) { margin: 0 auto 10.66667vw; } }

.worksbox li img { display: block; width: 100%; transition: all 0.5s; }

.worksbox a { display: block; margin: 0 auto; overflow: hidden; cursor: pointer; }

.worksbox a:hover img { transform: scale(1.1); transition: all 0.5s; }

.remodal { position: relative; padding: 25px; }

.remodal img { width: 100%; height: auto; vertical-align: top; }

.remodal-cancel { color: #fff; background: #ccd269; width: 100%; margin-top: 25px; }

.remodal-cancel:hover { background: #333; }

/*   Contact   */
.block04 .mailtext { text-align: center; margin-bottom: 20px; }

@media screen and (max-width: 768px) { .block04 .mailtext { margin-bottom: 5.33333vw; } }

.block04 .mailicon { text-align: center; }

.block04 .mailicon a:hover .fwicon { background: #fff; }

.block04 .fwicon { transition: all 0.2s; font-size: 30px; color: #ccd269; border: 1px solid #ccd269; border-radius: 50%; padding: 15px; }

@media screen and (max-width: 768px) { .block04 .fwicon { font-size: 8vw; padding: 4vw; } }

/*   footer   */
footer { background: #ccd269; padding: 30px 0; }

footer p { text-align: center; color: #fff; letter-spacing: 0.05em; }
