@import "_modules";
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

@media #{$breakpoint-sp} {
  .pcelement {
    display: none !important;
  }
}

@media #{$breakpoint-pc} {
  .spelement {
    display: none !important;
  }
}

/*   header   */
.header {
  position: relative;
  background-image: url("../img/top_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(29, 23, 36, 0.5);
    z-index: 1;
  }
}

.page-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  color: #fff;
  z-index: 2;
  @include letter-spacing(100);

  @media #{$breakpoint-sp} {
    font-size: vw(50);
  }

  .txt-primary {
    color: $main-color;
  }
}

/*   All   */
* {
  box-sizing: border-box;
}

.main {
  @media #{$breakpoint-sp} {
    overflow: hidden;
  }

  p,
  li {
    font-size: 16px;
    line-height: 1.8;
    color: $text-color;
    @include letter-spacing(10);

    @media #{$breakpoint-sp} {
      font-size: vw(32);
    }
  }

  img {
    vertical-align: bottom;
  }
}

.block {
  // max-width: 960px;// margin: 0 auto 100px;

  .inner {
    max-width: 960px;
    margin: 0 auto 0;
    padding: 100px 0;

    @media #{$breakpoint-sp} {
      max-width: initial;
      padding: vw(100) vw(40) vw(140);
    }
  }

  &:nth-child(even) {
    background: #efefef;
  }

  .block-ttl {
    text-align: center;
    font-size: 40px;
    color: $text-color;
    font-family: "Lato", sansserif;
    @include letter-spacing(100);

    @media #{$breakpoint-sp} {
      font-size: vw(60);
    }

    &.-mg {
      margin-bottom: 60px;

      @media #{$breakpoint-sp} {
        margin-bottom: vw(100);
      }
    }
  }
}

/*   About   */
.block.block01 .inner {
  max-width: 700px;

  @media #{$breakpoint-sp} {
    max-width: initial;
  }
}

.profbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media #{$breakpoint-sp} {
    flex-direction: column;
    align-items: center;
  }

  &.animate {
    .profimg {
      position: relative;
      right: 60px;
      opacity: 0;
      transition: all 1s;

      &.moving {
        right: 0;
        opacity: 1;
      }
    }

    .textarea {
      position: relative;
      left: 100px;
      opacity: 0;
      transition: all 2s;

      &.moving {
        left: 0;
        opacity: 1;
      }
    }
  }

  .profimg {
    img {
      border-radius: 50%;
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
      max-width: 150px;
      height: auto;
    }
  }

  .subttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $text-color;

    @media #{$breakpoint-sp} {
      font-size: vw(40);
      margin-bottom: vw(20);
    }

    &:nth-child(n + 2) {
      margin: 30px 0 20px;

      @media #{$breakpoint-sp} {
        margin: vw(50) 0 vw(20);
      }
    }
  }

  .textarea {
    padding-left: 100px;

    @media #{$breakpoint-sp} {
      padding-left: 0;
      padding: vw(60) 0 0 0;
    }
  }
}

/*   Service   */
.block.block03 .inner {
  max-width: 980px;

  @media #{$breakpoint-sp} {
    max-width: initial;
  }
}

.servicewrap__box {
  display: flex;
  justify-content: space-between;

  @media #{$breakpoint-sp} {
    flex-direction: column;
  }

  li {
    width: calc((100% / 3) - 20px);
    background: #fff;
    padding: 40px 20px 40px;
    border: 1px solid #e8e8e8;
    opacity: 0;
    position: relative;
    top: 120px;

    @media #{$breakpoint-sp} {
      width: 100%;
      padding: vw(80) vw(40) vw(60);
      margin-bottom: vw(80);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  /* 参考
  ** https://webkcampus.com/201907/1678/
  */
  &.animate {
    li.moving {
      opacity: 1;
      top: 0;
    }

    li:firstchild {
      transition: all 1s;
    }

    li:nth-child(2n) {
      transition: all 2s;

      @media #{$breakpoint-sp} {
        transition: all 1s;
      }
    }

    li:nth-child(3n) {
      transition: all 3s;

      @media #{$breakpoint-sp} {
        transition: all 1s;
      }
    }
  }

  .fwicon {
    font-size: 40px;
    display: block;
    color: $main-color;
    text-align: center;
    padding-bottom: 10px;

    @media #{$breakpoint-sp} {
      font-size: vw(80);
    }
  }

  .servicettl {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    @media #{$breakpoint-sp} {
      font-size: vw(40);
      margin-bottom: vw(60);
    }

    &:after {
      border-bottom: solid 2px $main-color;
      content: "";
      bottom: -10px;
      margin: 0 auto;
      width: 30px;
      position: absolute;
      transform: translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      left: 50%;
    }
  }
}

/*   Works   */
.worksbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media #{$breakpoint-sp} {
    flex-direction: column;
  }

  &:after {
    content: "";
    display: block;
    width: calc((100% / 3));
    // 参考
    // https: //blog.webcreativepark.net/2016/08/15125202.html
  }

  &.animate li {
    position: relative;
    display: inline-block;

    &.moving:before {
      width: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $main-color;
      transition: all 0.5s;
    }

    &.moving {
      opacity: 1;
      top: 0;
    }
  }

  li {
    width: calc((100% / 3) - 20px);
    overflow: hidden;
    cursor: pointer;

    @media #{$breakpoint-sp} {
      width: 100%;
      max-width: 300px;
      margin: 0 auto vw(80);
    }

    @media #{$breakpoint-sp} {
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 20px;

      @media #{$breakpoint-sp} {
        margin: 0 auto vw(80);
      }
    }

    &:nth-child(-n + 3) {
      margin-bottom: 50px;

      @media #{$breakpoint-sp} {
        margin: 0 auto vw(80);
      }
    }

    img {
      display: block;
      width: 100%;
      transition: all 0.5s;
    }
  }

  a {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
  }
}

// modal
.remodal {
  position: relative;
  padding: 25px;
}

.remodal img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.remodal-cancel {
  color: #fff;
  background: $main-color;
  width: 100%;
  margin-top: 25px;
}

.remodal-cancel:hover {
  background: #333;
}

/*   Contact   */
.block04 {
  .mailtext {
    text-align: center;
    margin-bottom: 20px;

    @media #{$breakpoint-sp} {
      margin-bottom: vw(40);
    }
  }

  .mailicon {
    text-align: center;

    a:hover .fwicon {
      background: #fff;
    }
  }

  .fwicon {
    transition: all 0.2s;
    font-size: 30px;
    color: $main-color;
    border: 1px solid $main-color;
    border-radius: 50%;
    padding: 15px;

    @media #{$breakpoint-sp} {
      font-size: vw(60);
      padding: vw(30);
    }
  }
}

/*   footer   */
footer {
  background: $main-color;
  padding: 30px 0;

  p {
    text-align: center;
    color: #fff;
    @include letter-spacing(50);
  }
}
